*{
    box-sizing: border-box;
}



body{
    background-image: url("form.png");
    /* background-color: black; */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color:aliceblue;
}


.st{
    font-size: 30px;
    padding-left: 70px;
}

.box {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-top: 150px;
    margin-left: 500px;
    padding: 5px 20px 15px 20px;
    background: transparent;
    box-shadow: 0 0 15px rgb(255, 255, 255);
    border-radius: 30px;
    align-content: center;
}

#login{
    border: 1px solid aliceblue;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.438);
    border-radius: 10px;
    text-align: center;
} 

#name{
    color: aliceblue;
    background-color: transparent;
    width: 80%;
    border: 5px solid aliceblue;
    font-size: 25px;
    text-align: center;
    border-radius: 8px;
    
}

select option{
    background-color: transparent;
}