*{
    box-sizing: border-box;
}



body{
    margin: 15px 30px;
    padding: 18px;
    font-family: monospace;
    font-size: 20px;
}

.container{
    background-color: lightgray;
    padding: 5px 20px 15px 20px;
    border: 5px solid rgba(38, 142, 206, 0.226);
    border-radius: 10px;
}

input[type="text"],
input[type="password"],
textarea,select{
    width: 100%;
    border: 2px blue solid;
    border-radius: 5px;
}
