
body {
background-image: url('score.png');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
color:white;
}

div{
        display:inline-block;
        width:321px;
        vertical-align:top;
    }

.btn-group .button {
      background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    }
    
.btn-group .button:hover {
    background-color: #3e8e41;
    }