
body {
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
color:rgb(255, 255, 255);
}

img{
    height: 90px;
}


#uperka {
    background-color: rgba(255, 255, 255, 0.068);
    width: 100%;
    height: 40em;
}

nav a{
    text-decoration: none;
    font-size: 40px;
    font-family:monospace;
    color: aqua;
    margin: 0.5em;
}



#main_ind{ 
    display: block;
    font-size: 8em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    }

#list_id{
    color: rgb(255, 255, 255);
    font-size: 2em;
}


#aaa{
    background-color: rgba(255, 255, 255, 0.068);
}

#up{
    width: 100%;
    height: 100%;
}