
body {
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
color:rgb(255, 255, 255);
}



.btn-group .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}


    
.btn-group .button:hover {
    background-color: #f80000;

    }



#uperka {
    background-color: rgba(255, 255, 255, 0.068);
    width: 100%;
    height: 40em;
}



a{
    color: aliceblue;
    font-family: monospace;
    text-decoration: none;
}


h1{ 
    display: block;
    font-size: 6em;
    font-weight: bold;
    padding-top: 60%;
    padding-bottom: 50%;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    }

#list_id{
    color: black;
    font-size: 2em;
}


#aaa{
    background-color: blue;
}

.background{
    padding: 1em;
}