
body {
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
color:rgb(255, 255, 255);
}

img{
    height: 70px;
}


#uperka {
    background-color: rgba(255, 255, 255, 0.068);
    width: 100%;
    height: 40em;
}

nav a{
    text-decoration: none;
    font-size: 25px;
    font-family:monospace;
    color: aliceblue;
    margin: 2em;
}



h1{ 
    display: block;
    font-size: 6em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    }

#list_id{
    color: black;
    font-size: 2em;
}


#aaa{
    background-color: blue;
}



nav a:hover{
    color:aqua;
}

